body{
    position: relative;
    left: 20%;
    margin-top: 10rem;
    /* background-color: aqua; */
    background-color: rgb(8, 8, 71);
    font-family: sans-serif;

}

h1{
    color: white;
}

.ran{
    color: rgba(3, 110, 3, 0.726);
    text-decoration: underline;
}

p{
    border: 1px white solid;
    background-color: white;
    border-radius: 2%;
    position: relative;
    height: 3.5rem;
    width: 22rem;
}

p img{
    position: absolute;
    top: 13px;
    left: 19.7rem;
    height: 1.6rem;
}

.btn{
    background-color: rgb(19, 117, 19);
    height: 3rem;
    border: transparent;
    border-radius: 5%;
    color: white;
    padding-left: 16px;
    padding-right: 16px;
}

.btn img{
    position: relative;
    height: 2rem;
}

.btn span{
    font-size: larger;
    font-weight: 600;
}

.pss{
    position: relative;
    bottom: 0.6rem;
}

.output{
    color: green;
    font-weight: 600;
    position: relative;
    left: 5px;
    top: 15px;
}

input{
    border: transparent ;
    font-size: larger;
}